Repository paw-lu/nbpreview: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, flake8, autoflake, interrogate, nbqa-flake8, nbqa-pyupgrade, nbqa-isort, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python, jupyter]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
        exclude: docs/_static/images/hero_image.png
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: autoflake
        name: autoflake
        entry: autoflake
        language: system
        types: [python]
        require_serial: true
        args: ["--in-place", "--remove-all-unused-imports"]
      - id: interrogate
        name: interrogate
        entry: interrogate
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: nbqa-flake8
        name: nbqa-flake8
        entry: nbqa flake8
        language: system
        require_serial: true
        types: [jupyter]
      - id: nbqa-pyupgrade
        name: nbqa-pyupgrade
        entry: nbqa pyupgrade
        language: system
        require_serial: true
        types: [jupyter]
      - id: nbqa-isort
        name: nbqa-isort
        entry: nbqa isort
        language: system
        require_serial: true
        types: [jupyter]
        args: [--project=model, --project=plots]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py38-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.0
    hooks:
      - id: prettier
        exclude: "docs/_static/generated_html/.*vega.html"
exclude: "^tests/unit/expected_outputs"

Remove safety
  .github/workflows/tests.yml
  noxfile.py
Due: check-added-large-files, check-yaml, flake8, autoflake, interrogate, pyupgrade

Update sphinx favicon package name
  docs/conf.py
Due: check-added-large-files, flake8, autoflake, interrogate, pyupgrade

Restore dep end section
  pyproject.toml
Due: check-added-large-files, check-toml

Remove docstring underlines
  docs/generate_examples.py
  tests/unit/test_main.py
Due: check-added-large-files, flake8, autoflake, interrogate, pyupgrade

Remove underscores from generate_examples
  docs/generate_examples.py
Due: check-added-large-files, flake8, autoflake, interrogate, pyupgrade

Fix incorrect no color parsing
  src/nbpreview/parameters.py
  tests/unit/test_main.py
Due: check-added-large-files, flake8, autoflake, interrogate, pyupgrade

Remove multi-line paths
  tests/conftest.py
  tests/unit/expected_outputs/test_color_system_notebook_file[--color-system-standard-None].txt
  tests/unit/expected_outputs/test_color_system_notebook_file[--cs-256-None].txt
  tests/unit/expected_outputs/test_color_system_notebook_file[None-None-windows].txt
  tests/unit/expected_outputs/test_hyperlinks_output_notebook_file[--no-hyperlinks-None].txt
  tests/unit/expected_outputs/test_hyperlinks_output_notebook_file[-r-None].txt
  tests/unit/expected_outputs/test_hyperlinks_output_notebook_file[None-0].txt
  tests/unit/expected_outputs/test_invalid_vega_output.txt
  tests/unit/expected_outputs/test_render_block_image.txt
  tests/unit/expected_outputs/test_render_dataframe.txt
  tests/unit/expected_outputs/test_render_invalid_block_image.txt
  tests/unit/expected_outputs/test_render_missing_column_name_dataframe.txt
  tests/unit/expected_outputs/test_render_missing_index_name_dataframe.txt
  tests/unit/expected_outputs/test_render_missing_last_index_name_dataframe.txt
  tests/unit/expected_outputs/test_render_no_columns_dataframe.txt
  tests/unit/expected_outputs/test_render_plain_dataframe.txt
  tests/unit/expected_outputs/test_render_stdin[-].txt
  tests/unit/expected_outputs/test_render_stdin[None].txt
  tests/unit/expected_outputs/test_render_styled_dataframe.txt
  tests/unit/expected_outputs/test_render_uneven_data_dataframe.txt
  tests/unit/expected_outputs/test_render_uneven_index_dataframe.txt
  tests/unit/expected_outputs/test_vega_no_hyperlink.txt
  tests/unit/expected_outputs/test_vega_output.txt
  tests/unit/test_main.py
  tests/unit/test_notebook.py
Due: check-added-large-files, flake8, autoflake, interrogate, pyupgrade

Explicitly cast mapping to dict
  tests/unit/test_main.py
Due: check-added-large-files, flake8, autoflake, interrogate, pyupgrade

Remove typeguard
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
Due: check-added-large-files, check-toml, check-yaml, flake8, autoflake, interrogate, pyupgrade

Skip block render on ci
  tests/unit/test_notebook.py
Due: check-added-large-files, flake8, autoflake, interrogate, pyupgrade

Skip problematic windows tests
  tests/unit/test_main.py
  tests/unit/test_notebook.py
Due: check-added-large-files, flake8, autoflake, interrogate, pyupgrade

Adjust coverage
  pyproject.toml
Due: check-added-large-files, check-toml

give unique names to each coverage component
  .github/workflows/tests.yml
Due: check-added-large-files, check-yaml

Install poetry export extension in coverage ci task
  .github/workflows/tests.yml
Due: check-added-large-files, check-yaml

User proper order when measuring coverage
  pyproject.toml
Due: check-added-large-files, check-toml

Update installation instructions to use uv and uvx for quick preview
  README.md
Due: check-added-large-files

Update class used for TermImage
  docs/features.md
Due: check-added-large-files

Update doc deps
  docs/requirements.txt
Due: check-added-large-files

Install poetry-plugin-export on ci-cd
  .github/workflows/tests.yml
Due: check-added-large-files, check-yaml

Set 3.13 as default task runner
  noxfile.py
Due: check-added-large-files, flake8, autoflake, interrogate, pyupgrade

Update CI to 3.11-3.13
  .github/workflows/tests.yml
  README.md
Due: check-added-large-files, check-yaml

Format pyproject.toml
  pyproject.toml
Due: check-added-large-files, check-toml

Fix BlockImage rendering
  src/nbpreview/component/content/output/result/drawing.py
Due: check-added-large-files, flake8, autoflake, interrogate, pyupgrade

Lock term-image to <0.8
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml
