Repository paw-lu/nbpreview: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, flake8, autoflake, interrogate, nbqa-flake8, nbqa-pyupgrade, nbqa-isort, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python, jupyter]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
        exclude: docs/_static/images/hero_image.png
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: autoflake
        name: autoflake
        entry: autoflake
        language: system
        types: [python]
        require_serial: true
        args: ["--in-place", "--remove-all-unused-imports"]
      - id: interrogate
        name: interrogate
        entry: interrogate
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: nbqa-flake8
        name: nbqa-flake8
        entry: nbqa flake8
        language: system
        require_serial: true
        types: [jupyter]
      - id: nbqa-pyupgrade
        name: nbqa-pyupgrade
        entry: nbqa pyupgrade
        language: system
        require_serial: true
        types: [jupyter]
      - id: nbqa-isort
        name: nbqa-isort
        entry: nbqa isort
        language: system
        require_serial: true
        types: [jupyter]
        args: [--project=model, --project=plots]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py38-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.0
    hooks:
      - id: prettier
        exclude: "docs/_static/generated_html/.*vega.html"
exclude: "^tests/unit/expected_outputs"

Upgrade deps
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, flake8, autoflake, interrogate, pyupgrade

Add pytest-snapshot to nox test deps
  noxfile.py
  pyproject.toml
Due: check-added-large-files, check-toml, flake8, autoflake, interrogate, pyupgrade

QA updates
  docs/example_notebook_cells/plots.py
  docs/generate_examples.py
  noxfile.py
  pyproject.toml
  src/nbpreview/__main__.py
  src/nbpreview/_color_typer.py
  src/nbpreview/component/content/input.py
  src/nbpreview/component/content/output/error.py
  src/nbpreview/component/content/output/result/display_data.py
  src/nbpreview/component/content/output/result/drawing.py
  src/nbpreview/component/content/output/result/execution_indicator.py
  src/nbpreview/component/content/output/result/link.py
  src/nbpreview/component/content/output/result/markdown_extensions.py
  src/nbpreview/component/content/output/result/result.py
  src/nbpreview/component/content/output/result/table.py
  src/nbpreview/component/content/output/stream.py
  src/nbpreview/component/markdown.py
  src/nbpreview/component/row.py
  src/nbpreview/data/__init__.py
  src/nbpreview/notebook.py
  src/nbpreview/option_values.py
  src/nbpreview/parameters.py
  tests/conftest.py
  tests/unit/component/content/output/result/test_markdown_extensions.py
  tests/unit/test_main.py
  tests/unit/test_notebook.py
  tests/util/debug.py
  tests/util/process_output.py
Due: check-added-large-files, check-toml, flake8, autoflake, interrogate, pyupgrade

Pass on attribute error when parsing dfs
  src/nbpreview/component/content/output/result/display_data.py
Due: check-added-large-files, flake8, autoflake, interrogate, pyupgrade

Upgrade gh action deps
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
Due: check-added-large-files, check-yaml

Update pre-commit config
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml

Update poetry and dev tools
  .github/workflows/constraints.txt
  pyproject.toml
Due: check-added-large-files, check-toml

Remove safety
  .github/workflows/tests.yml
  noxfile.py
Due: check-added-large-files, check-yaml, flake8, autoflake, interrogate, pyupgrade

Adjust coverage
  pyproject.toml
Due: check-added-large-files, check-toml

Remove typeguard
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
Due: check-added-large-files, check-toml, check-yaml, flake8, autoflake, interrogate, pyupgrade

Add pytest-snapshot
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml

Install poetry export extension in coverage ci task
  .github/workflows/tests.yml
Due: check-added-large-files, check-yaml

Remove multi-line paths
  tests/conftest.py
  tests/unit/expected_outputs/test_color_system_notebook_file[--color-system-standard-None].txt
  tests/unit/expected_outputs/test_color_system_notebook_file[--cs-256-None].txt
  tests/unit/expected_outputs/test_color_system_notebook_file[None-None-windows].txt
  tests/unit/expected_outputs/test_hyperlinks_output_notebook_file[--no-hyperlinks-None].txt
  tests/unit/expected_outputs/test_hyperlinks_output_notebook_file[-r-None].txt
  tests/unit/expected_outputs/test_hyperlinks_output_notebook_file[None-0].txt
  tests/unit/expected_outputs/test_invalid_vega_output.txt
  tests/unit/expected_outputs/test_render_block_image.txt
  tests/unit/expected_outputs/test_render_dataframe.txt
  tests/unit/expected_outputs/test_render_invalid_block_image.txt
  tests/unit/expected_outputs/test_render_missing_column_name_dataframe.txt
  tests/unit/expected_outputs/test_render_missing_index_name_dataframe.txt
  tests/unit/expected_outputs/test_render_missing_last_index_name_dataframe.txt
  tests/unit/expected_outputs/test_render_no_columns_dataframe.txt
  tests/unit/expected_outputs/test_render_plain_dataframe.txt
  tests/unit/expected_outputs/test_render_stdin[-].txt
  tests/unit/expected_outputs/test_render_stdin[None].txt
  tests/unit/expected_outputs/test_render_styled_dataframe.txt
  tests/unit/expected_outputs/test_render_uneven_data_dataframe.txt
  tests/unit/expected_outputs/test_render_uneven_index_dataframe.txt
  tests/unit/expected_outputs/test_vega_no_hyperlink.txt
  tests/unit/expected_outputs/test_vega_output.txt
  tests/unit/test_main.py
  tests/unit/test_notebook.py
Due: check-added-large-files, flake8, autoflake, interrogate, pyupgrade

Remove deprecated fast option on nbformat
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml

Update actions in release workflow
  .github/workflows/release.yml
Due: check-added-large-files, check-yaml

Bump version to 0.10.0
  pyproject.toml
Due: check-added-large-files, check-toml
